<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.AdminMapper">

    <resultMap type="cn.edu.zjut.po.Admin" id="adminMapper">
        <id column="admin_id" property="adminID"/>
        <result column="admin_password" property="password"/>
        <result column="admin_name" property="name"/>
        <result column="admin_sex" property="sex"/>
        <result column="admin_phone" property="phone"/>
    </resultMap>

    <select id="findById" resultMap="adminMapper" parameterType="int">
        select *
        from admin
        where admin_id = #{id}
    </select>

    <insert id="saveAdmin" parameterType="cn.edu.zjut.po.Admin">
        insert into admin
        values (#{adminID}, #{password})
    </insert>
</mapper>
