<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.InstanceMapper">


    <resultMap id="InstanceMapper" type="cn.edu.zjut.po.SignInstance">
        <id property="signInstID" column="signinstance_id" javaType="java.lang.Integer"/>
        <result property="signID" column="sign_id" javaType="java.lang.Integer"/>
        <result property="startTime" column="starttime" javaType="java.sql.Time"/>
        <result property="endTime" column="endtime" javaType="java.sql.Time"/>
        <result property="longitude" column="longitude" javaType="java.lang.String"/>
        <result property="latitude" column="latitude" javaType="java.lang.String"/>
        <result property="radius" column="radius" javaType="java.lang.Integer"/>
        <result property="placeName" column="placename" javaType="java.lang.String"/>
        <result property="date" column="date" javaType="java.util.Date"/>
    </resultMap>


    <insert id="insertSignInstance" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="signInstID"
            keyColumn="signinstance_id">

        <!--        <selectKey keyProperty="signInstID" resultType="java.lang.Integer" order="AFTER">
        /*            select if(max(signinstance_id) is null, 1, max(signinstance_id) + 1) as signInstID from signinstance
        */      	 		SELECT LAST_INSERT_ID()
                </selectKey>-->
        insert into signinstance (sign_id,starttime,endtime,longitude,latitude,radius,placename,date)values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.signID},
            #{item.startTime},
            #{item.endTime},
            #{item.longitude},
            #{item.latitude},
            #{item.radius},
            #{item.placeName},
            #{item.date}
            )
        </foreach>
    </insert>
</mapper>

