<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.QuerySignInstanceMapper">
    <select id="getSignInstance" resultType="cn.edu.zjut.po.SignInstance" parameterType="cn.edu.zjut.po.SignInstance"
            resultMap="SignInstanceMap">
     select * from signinstance
     where sign_id=#{signID}
    group  by starttime
     </select>
    <resultMap type="cn.edu.zjut.po.SignInstance" id="SignInstanceMap">
        <id column="signinstance_id" jdbcType="INTEGER" property="signInstID"/>
        <result column="sign_id" jdbcType="INTEGER" property="signID"/>
        <result column="starttime" jdbcType="TIME" property="startTime"/>
        <result column="endtime" jdbcType="TIME" property="endTime"/>
        <result column="longitude" jdbcType="VARCHAR" property="longitude"/>
        <result column="latitude" jdbcType="VARCHAR" property="latitude"/>
        <result column="placename" jdbcType="VARCHAR" property="placeName"/>
        <result column="date" jdbcType="DATE" property="date"/>
        <result column="radius" jdbcType="INTEGER" property="radius"/>
    </resultMap>
</mapper>
