<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.zjut.dao.ResultDetailMapper">
    <!-- 自定义返回结果集 -->
    <resultMap id="resuldetailtMap" type="ResultDetail">
        <id property="studentsign.stuSignID" column="Autoid" javaType="java.lang.Integer"></id>
        <result property="studentsign.stuID" column="student_id" javaType="java.lang.Integer"/>
        <result property="studentsign.signInstID" column="signinstance_id" javaType="java.lang.Integer"/>
        <result property="studentsign.signTime" column="sign_time" javaType="java.sql.Time"/>
        <result property="studentsign.signImgUrl" column="Imgurl" javaType="java.lang.String"/>
        <result property="studentsign.stuEmail" column="student_email" javaType="java.lang.String"/>
        <result property="studentsign.stuImgUrl" column="student_img" javaType="java.lang.String"/>
        <result property="studentsign.similar" column="similar" javaType="java.lang.Double"/>
        <result property="studentsign.status" column="status" javaType="java.lang.Integer"/>
    </resultMap>

    <select id="selectBySigninstance_id" resultMap="resuldetailtMap" resultType="cn.edu.zjut.po.ResultDetail">
        select student_img,student_name,student_classname as student_class,student_departname as student_department,student_sign.*  from student,student_sign where student.student_id=student_sign.student_id and signinstance_id=#{signInstID}
    </select>
    <select id="update" resultMap="resuldetailtMap">
        update student_sign set status=#{arg1} where Autoid=#{arg0}
    </select>


</mapper>