<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.zjut.dao.SuggestMapper">
    <resultMap type="cn.edu.zjut.po.Suggest" id="studentSuggest">
        <id column="time" property="time"/>
        <result column="student_name" property="name"/>
        <result column="suggest" property="suggest"/>
    </resultMap>

    <resultMap type="cn.edu.zjut.po.Suggest" id="teacherSuggest">
        <id column="time" property="time"/>
        <result column="teacher_name" property="name"/>
        <result column="suggest" property="suggest"/>
    </resultMap>

    <select id="listStudentSuggest" resultMap="studentSuggest">
        select student.student_name,suggest.suggest,suggest.time
        from student,suggest,user
        where student.student_id = user.student_id and user.openid = suggest.openid
	</select>

    <select id="listTeacherSuggest" resultMap="teacherSuggest">
        select teacher.teacher_name,suggest_teacher.suggest,suggest_teacher.time
        from teacher,suggest_teacher
        where teacher.teacher_id = suggest_teacher.teacher_id
	</select>

    <insert id="insertTeacherSuggest">
	insert into suggest_teacher(teacher_id,suggest,time)
	 values(#{teacherID},#{suggest},#{time})
	</insert>

</mapper>
